<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210411111773-den95douqtosrj7h8u6ad5d0hrobv0sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210411111773-den95douqtosrj7h8u6ad5d0hrobv0sp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210411111773-mdah2ia1l1a6kdvtuniiokppgp40gp78.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkQC5B3ckyamw2nr9M8tqxruQ7PsfbS9I</string>
	<key>GCM_SENDER_ID</key>
	<string>210411111773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bees.app</string>
	<key>PROJECT_ID</key>
	<string>beering-824d7</string>
	<key>STORAGE_BUCKET</key>
	<string>beering-824d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210411111773:ios:71a835ba2aefcc9ec1d4b4</string>
</dict>
</plist>